html 
    include includes/head.pug 
    body 
        include includes/header.pug 
        .container 
        h1.bd-title!= message 
        p NodeJS es un entorno de ejecución de JavaScript, basado en el motor V8 de Chrome, que permite ejecutar código JavaScript en el lado del servidor.
        include includes/footer.pug